/* 공통 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Square&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9FAFB;
    font-family: 'NanumSquare', sans-serif;
}

main {
    padding: 0 200px;
    background-color: #F9FAFB;
}

nav {
    padding: 0 200px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-between;
}

/* Search 컴포넌트 스타일 */
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}

.search-input {
    flex: 1;
    height: 50px;
    padding: 0 20px;
    border-radius: 24px;
    border: 2px solid #0F172A;
    box-shadow: 2px 3px 0px #000000;
    background-color: #F1F5F9;
    color: #374151;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
}

.add-button {
    width: 168px;
    height: 52.5px;
    padding: 0 20px;
    border-radius: 24px;
    border: 2px solid #0F172A;
    box-shadow: 2px 3px 0px #000000;
    background-color: #E2E8F0;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 리스트 컨테이너 스타일 */
.lists-container {
    display: flex;
    align-items: flex-start; /* 왼쪽 정렬 */
    justify-content: space-between; /* 각 리스트 사이 간격 유지 */
    padding: 20px 0;
}

.list {
    flex: 1; /* 리스트 너비 조정 */
}

.list-title {
    display: block;
    margin: 0 0 20px; /* 좌우 여백 제거 */
    width: 100px; /* 이미지 크기 조정 */
    height: auto; /* 비율 유지 */
    text-align: left; /* 텍스트 및 이미지 왼쪽 정렬 */
}

.checklist {
    margin: 10px 10px 10px 0;
}

.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid #0F172A;
    border-radius: 24px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400; /* Regular 폰트 설정 */
}

.check-icon {
    cursor: pointer;
    margin-right: 10px;
    width: 24px; /* 체크 버튼 크기 조정 */
    height: 24px; /* 체크 버튼 크기 조정 */
}

.checklist-item.completed {
    background-color: #EDE9FE;
    text-decoration: line-through;
}

.empty-list {
    text-align: center;
}

.empty-list img {
    width: 150px; /* 이미지 너비 조정 */
    height: auto; /* 비율 유지 */
    margin-bottom: 20px; /* 이미지와 텍스트 사이 간격 조정 */
}

.empty-list div {
    font-size: 16px; /* 글씨 크기 조정 */
    color: #94A3B8; /* 글씨 색상 조정 */
}